@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
}

/**NAVBAR**/
header nav .container-fluid-navbar {
    width: 100%;
    height: 15vh;
    /**background-color: blue;**/
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    font-family: 'Gluten', cursive;
}

header nav .container-fluid-navbar .container-fluid-logo {
    width: auto;
    height: auto;
}

header nav .container-fluid-navbar .container-fluid-options li {
    display: inline;
    margin-right: 50px;
}

header nav .container-fluid-navbar .container-fluid-options li a {
    color: rgb(22, 21, 21);
    text-decoration: none;
    padding: 20px;
}

/**.container-fluid-carrousel {
    width: 100%;
    height: 50vh;
    background-color: rgb(21, 194, 228);
    margin-top: 2.5%;
}**/

/**CIRCLE CATEGORYS**/
ul {
    list-style-type: none;
}

.categorys {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    flex-wrap: wrap;
    font-size: 24px;
    font-family: 'Gluten', cursive;
    padding: 0;
    text-align: center;
    align-items: baseline;
}

.categorys #item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.categorys #item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /**background-color: rgb(218, 21, 21);**/
    margin: 5px;
}

/**BESTSELLERS**/
.conteiner-fluid-bestsellers {
    width: 100%;
    height: auto;
    /**background-color: rgba(11, 70, 98, 0.286);**/
    margin-top: 5em;
    font-size: 24px;
    font-family: 'Gluten', cursive;
    text-align: center;
}

.conteiner-fluid-bestsellers-items {
    width: auto;
    height: auto;
    /**background-color: rgba(11, 70, 98, 0.286);**/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.conteiner-fluid-bestsellers-items #conteiner-fluid-product-item img {
    width: 250px;
    height: 250px;
    /**background-color: rgb(218, 30, 162);**/
    margin: 10px;
    display: flex;
    justify-content: center;
    transition: transform .2s;
}

.conteiner-fluid-bestsellers-items #conteiner-fluid-product-item img:hover{
    transform: scale(1.1);
}
/**MAPS**/
.container-fluid-maps {
    margin-top: 8%;
}

/**FOOTER**/
footer .container-fluid-footer {
    width: 100%;
    height: 25vh;
    border-style: solid none none none;
    border-color: aqua;
    margin-top: 75px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-family:'Inter', sans-serif;
}
footer .container-fluid-footer .container-fluid-logo {
    width: auto;
    height: auto;
}

footer .container-fluid-footer .container-fluid-baseboard img{
    width: 20px;
    height: 20px;
}

footer .container-fluid-footer .container-fluid-baseboard #container-fluid-contact-item{
    display: flex;   
}
footer .container-fluid-footer .container-fluid-baseboard #container-fluid-socialmedia-item{
    display: flex;   
}