@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
}

/*PRESENTATION*/
.title{
    margin-top: 5%;
    text-align: center;
    font-family: 'Gluten', cursive;
}

.presentation{
    padding: 2%;
    text-align: center;
    font-family:'Inter', sans-serif;
    font-size: 1rem;
}

/*MOTIVATION*/
.container-fluid-motivation{
    margin-bottom: 3%;
}

.categorys {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    flex-wrap: wrap;
    font-size: 1em;
    font-family:'Inter', sans-serif;
    padding: 0;
    text-align: center;
    align-items: baseline;
}

.categorys #item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.categorys #item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

/*STAKEHOLDERS*/
.stakeholders{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.stakeholders .parceiros{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
}

.stakeholders img{
    width: 15vw;
    height: auto;
    margin: 1%;
}

.line{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

/*MAPS*/
.container-fluid-maps{
    margin-top: 5%;
}

/*FORM*/
.form-contact{
    width: auto;
    height: auto;
    margin: 20px;
    padding: 75px;
}

.form-contact .row .form-group .form-control{
    border: 2px solid;
}